li {
    cursor: pointer
}

td {
    padding: 0 15px 0 15px;
}

.selectedProject {
    font-weight: bold;
}

#taskContextMenu li {
    padding: 3px;
    margin: 0;
    cursor: pointer;
}

#taskContextMenu li:hover {
    background-color: #eee;
}
